.title {
  font-size: calc(0.07 * var(--aw));
  text-align: center;
}

.main.buttons {
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 50vw;
  transform: translateX(-50%);
  width: calc(var(--aw) - 4rem);
  background-color: #90ade2;
  border-top: 1px solid #00000018;
}

.gutter {
  height: 5em;
}

.main.buttons :not(:first-child) {
  margin-left: 1rem;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quote {
  padding: 1rem;
  font-style: italic;
  text-wrap: balance;
}

.subheading {
  font-size: 1.5em;
}
